<div id="item_16" class="list_item">
	<div class="proxynow trashicon item_delete" value="<%= name %>" onclick="return <%= click %>"></div>
	<div>
		<span class="<%= css %>"></span>
		<span id="wizard_name_user_ingroup" value="<%= name %>" classify=<% classify %>  ><%= name %></span>
	</div>
</div>